In [56]:
# Dependencies
import pandas as pd
import os

In [57]:
# load CSV
csv_path = os.path.join('..', 'Resources', '2016-FCC-New-Coders-Survey-Data.csv')

In [58]:
# Read with pandas--low_memory required to suppress errors about mixed data types
bootcamp_df = pd.read_csv(csv_path)
bootcamp_df.head()

C:\Users\KenJ\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [59]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
bootcamp_df = bootcamp_df.iloc[:, [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
bootcamp_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [60]:
# Change reading 0 and 1 to No and Yes, respectively
bootcamp_df = bootcamp_df.replace([0.0, 1.0], ["No", "Yes"])
bootcamp_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [61]:
# Extract rows for only those who attended a bootcamp
bootcamp_df = bootcamp_df.loc[bootcamp_df["AttendedBootcamp"] == "Yes"]
bootcamp_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [62]:
# Create DataFrame of the different boot camps that had a significant number of attendees
grouped_bootcamp = bootcamp_df.groupby('BootcampName')
grouped_bootcamp.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN
206,36.0,Yes,Yes,No,No,Thinkful,NaN,No,2,more than 1 million,...,Japan,NaN,A stay-at-home parent or homemaker,female,Yes,20,NaN,Mobile Developer,bachelor's degree,Communications
209,25.0,Yes,Yes,No,Yes,Flatiron School,NaN,Yes,NaN,more than 1 million,...,Mexico,NaN,Not working but looking for work,male,NaN,40,NaN,Full-Stack Web Developer,"professional degree (MBA, MD, JD, etc.)",Computer Science
236,52.0,Yes,Yes,Yes,No,General Assembly,45000.0,No,NaN,"between 100,000 and 1 million",...,United States of America,software development,Self-employed freelancer,male,NaN,30,45000.0,NaN,"some college credit, no degree",NaN
272,38.0,Yes,Yes,Yes,Yes,DevMountain,50000.0,Yes,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,Structural Engineering
273,35.0,Yes,Yes,Yes,Yes,The Iron Yard,60000.0,Yes,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,10,54000.0,NaN,bachelor's degree,Public Administration
285,23.0,Yes,Yes,Yes,No,Codeup,40000.0,Yes,NaN,NaN,...,United States of America,software development,Employed for wages,male,NaN,40,NaN,NaN,bachelor's degree,Journalism
315,31.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,software development,Self-employed freelancer,genderqueer,NaN,20,35000.0,User Experience Designer,bachelor's degree,Communications
316,22.0,Yes,Yes,No,No,Code Fellows,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working but looking for work,male,NaN,30,NaN,Front-End Web Developer,associate's degree,General Studies
328,30.0,Yes,No,NaN,No,Bloc.io,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,sales,Employed for wages,female,NaN,20,35000.0,Front-End Web Developer,bachelor's degree,Advertising and Marketing
426,30.0,Yes,Yes,No,Yes,General Assembly,NaN,Yes,NaN,"less than 100,000",...,United States of America,education,Employed for wages,male,NaN,40,NaN,Full-Stack Web Developer,bachelor's degree,Liberal Arts
435,26.0,Yes,Yes,No,Yes,The Firehose Project,NaN,Yes,NaN,more than 1 million,...,United States of America,NaN,Not working but looking for work,male,NaN,50,NaN,Front-End Web Developer,associate's degree,Psychology
449,38.0,Yes,Yes,No,No,General Assembly,NaN,Yes,NaN,more than 1 million,...,United States of America,NaN,Not working but looking for work,female,NaN,20,NaN,NaN,bachelor's degree,Architecture
465,40.0,Yes,No,NaN,Yes,Prime Digital Academy,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,NaN,A stay-at-home parent or homemaker,female,NaN,8,NaN,Quality Assurance Engineer,master's degree (non-professional),English
470,45.0,Yes,No,NaN,No,Prime Digital Academy,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,50,NaN,Mobile Developer,bachelor's degree,Liberal Arts
478,37.0,Yes,No,NaN,Yes,Prime Digital Academy,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,NaN,NaN,female,NaN,50,NaN,Full-Stack Web Developer,bachelor's degree,Sociology
481,27.0,Yes,Yes,No,No,Prime Digital Academy,NaN,Yes,NaN,"less than 100,000",...,United States of America,NaN,Not working but looking for work,female,NaN,2,NaN,Front-End Web Developer,"trade, technical, or vocational training",NaN
488,25.0,Yes,No,NaN,Yes,Prime Digital Academy,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Unable to work,male,NaN,9,NaN,Front-End Web Developer,bachelor's degree,Psychology
505,28.0,Yes,Yes,Yes,Yes,Free Code Camp is not a bootcamp - please scro...,50000.0,Yes,Yes,more than 1 million,...,United States of America,software development and IT,Employed for wages,male,Yes,15,38000.0,NaN,"some college credit, no degree",NaN
510,33.0,Yes,No,NaN,No,Flatiron School,NaN,Yes,NaN,more than 1 million,...,Australia,NaN,Not working and not looking for work,male,NaN,60,NaN,Full-Stack Web Developer,"trade, technical, or vocational training",NaN
522,33.0,Yes,Yes,No,Yes,Galvanize,NaN,No,NaN,"less than 100,000",...,United States of America,NaN,Employed for wages,male,NaN,10,NaN,Full-Stack Web Developer,bachelor's degree,Psychology
525,31.0,Yes,No,NaN,No,Ada,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,50,NaN,Full-Stack Web Developer,bachelor's degree,Psychology
533,20.0,Yes,No,NaN,No,NaN,NaN,Yes,NaN,"between 100,000 and 1 million",...,India,software development and IT,Employed for wages,male,NaN,6,6000.0,NaN,bachelor's degree,Communications
543,27.0,Yes,Yes,Yes,No,Skillcrush,58000.0,Yes,NaN,"less than 100,000",...,United States of America,software development and IT,Employed for wages,female,NaN,5,43000.0,NaN,bachelor's degree,Business Administration
549,34.0,Yes,No,NaN,NaN,Hack Reactor,NaN,Yes,NaN,"between 100,000 and 1 million",...,United States of America,NaN,NaN,female,NaN,30,NaN,Full-Stack Web Developer,bachelor's degree,Environmental Science
608,34.0,Yes,NaN,NaN,No,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Self-employed freelancer,male,NaN,NaN,NaN,NaN,bachelor's degree,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14085,NaN,Yes,Yes,Yes,NaN,CodeaCamp,NaN,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaN,NaN
14090,25.0,Yes,Yes,Yes,Yes,Nashville Software School,50000.0,Yes,NaN,more than 1 million,...,United States of America,software development and IT,Employed for wages,male,No,2,57000.0,NaN,"trade, technical, or vocational training",NaN
14096,NaN,Yes,Yes,Yes,Yes,Coder's Lab,100000.0,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,70,NaN,NaN,NaN,NaN
14102,21.0,Yes,Yes,Yes,No,Skillcrush,12000.0,Yes,Yes,"between 100,000 and 1 million",...,Vietnam,software development and IT,Self-employed business owner,male,Yes,70,20000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Math
14106,NaN,Yes,Yes,Yes,Yes,Academia de Código,32400.0,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14107,NaN,Yes,Yes,Yes,Yes,Academia de Código,36000.0,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30,NaN,NaN,NaN,NaN
14109,NaN,Yes,Yes,Yes,No,CODEcamp Charleston,60000.0,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100,NaN,NaN,NaN,NaN
14110,NaN,Yes,Yes,Yes,No,Origin Code Academy,12000.0,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN
14111,NaN,Yes,Yes,Yes,NaN,TalentBuddy,7992.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14112,NaN,Yes,Yes,Yes,Yes,CodeaCamp,60000.0,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN
14114,27.0,Yes,Yes,Yes,No,Academia de Código,12000.0,Yes,NaN,"between 100,000 and 1 million",...,Croatia,software development and IT,Employed for wages,male,No,NaN,12000.0,NaN,bachelor's degree,Computer Science
14115,NaN,Yes,Yes,Yes,Yes,10x.org.il,200000.0,No,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14275,30.0,Yes,Yes,Yes,No,We Got Coders,31000.0,Yes,NaN,"less than 100,000",...,United Kingdom,software development and IT,Employed for wages,male,NaN,3,NaN,NaN,bachelor's degree,Economics
14322,21.0,Yes,No,NaN,No,CodeaCamp,NaN,Yes,NaN,"between 100,000 and 1 million",...,Russia,software development and IT,Self-employed freelancer,male,NaN,21,NaN,NaN,high school diploma or equivalent (GED),NaN
14365,18.0,Yes,No,NaN,No,Astro Code School,NaN,No,NaN,"less than 100,000",...,Morocco,software development and IT,Self-employed freelancer,male,NaN,3,NaN,NaN,some high school,NaN
14396,20.0,Yes,No,NaN,No,CodeaCamp,NaN,Yes,NaN,more than 1 million,...,Vietnam,software development and IT,Employed for wages,male,No,20,NaN,NaN,some high school,NaN
14416,21.0,Yes,No,NaN,Yes,10x.org.il,NaN,No,NaN,more than 1 million,...,Bangladesh,software development and IT,Self-employed freelancer,male,No,20,NaN,NaN,Ph.D.,Computer Science
14467,21.0,Yes,Yes,Yes,Yes,Telegraph Academy,95000.0,Yes,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,NaN,30,NaN,NaN,associate's degree,Sociology
14532,24.0,Yes,NaN,NaN,No,Metis,NaN,Yes,NaN,more than 1 million,...,Mexico,education,Employed for wages,female,NaN,20,200000.0,NaN,bachelor's degree,Technology Teacher Education
14562,31.0,Yes,Yes,Yes,No,Bitmaker Labs,70000.0,Yes,2,more than 1 million,...,Canada,software development and IT,Employed for wages,female,Yes,8,60000.0,NaN,bachelor's degree,Graphic Design
14643,20.0,Yes,NaN,NaN,No,Codify Academy,NaN,No,NaN,more than 1 million,...,India,software development and IT,Self-employed freelancer,male,NaN,NaN,12000.0,NaN,no high school (secondary school),NaN
14695,22.0,Yes,No,NaN,No,AcadGild,NaN,Yes,NaN,more than 1 million,...,India,software development and IT,Employed for wages,male,No,90,24000.0,NaN,bachelor's degree,Computer Science
14701,23.0,Yes,No,NaN,Yes,Devschool,NaN,Yes,NaN,"between 100,000 and 1 million",...,Romania,finance,Employed for wages,male,NaN,8,60000.0,Mobile Developer,some high school,NaN
14751,29.0,Yes,Yes,Yes,No,Orange County Code School,90000.0,No,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,No,20,48000.0,NaN,bachelor's degree,Industrial Engineering
14766,25.0,Yes,Yes,No,No,DaVinci Coders,NaN,No,NaN,"less than 100,000",...,United States of America,software development and IT,Self-employed business owner,male,NaN,50,48000.0,Full-Stack Web Developer,"trade, technical, or vocational training",NaN
14987,NaN,Yes,No,NaN,No,LAMP Camp,NaN,Yes,NaN,"less than 100,000",...,United States of America,office and administrative support,Employed for wages,female,NaN,40,60000.0,NaN,associate's degree,Computer Networking
15400,32.0,Yes,No,NaN,No,Fire Bootcamp,NaN,No,NaN,more than 1 million,...,Saudi Arabia,software development and IT,Self-employed freelancer,female,NaN,12,24000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Computer Systems Networking and Telecommunicat...
15420,25.0,Yes,Yes,Yes,No,We Can Code IT,10000.0,No,NaN,more than 1 million,...,India,software development and IT,Employed for wages,male,No,NaN,12000.0,NaN,bachelor's degree,Information Technology
15436,45.0,Yes,No,NaN,No,Starter League,NaN,Yes,Yes,"between 100,000 and 1 million",...,Ukraine,construction and extraction,Self-employed freelancer,male,Yes,5,36000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15593,29.0,Yes,No,NaN,No,Camp Code Away,NaN,No,NaN,more than 1 million,...,India,software development and IT,Employed for wages,female,No,5,200000.0,NaN,bachelor's degree,Accounting

In [6]:
# Count how many attendees of each bootcamp would recommend the bootcamp

In [7]:
# Merge the two created data frames on the name of tbe bootcamp

In [8]:
# Calculate percentage of eac bootcamp's students who are recommenders

In [9]:
# Export to excel and remove index