In [1]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import requests as req
import pandas as pd

In [2]:
# Save config information.
api_key = "25bc90a1196e6f153eece0bc0b0fc9eb"
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = url + "appid=" + api_key + "&units=" + units + "&q="

In [6]:
weather_data = []
cities = ["Paris","London","Oslo","Beijing"]

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = req.get(query_url + city).json()
    weather_data.append(response)

weather_data

[{'base': 'stations',
  'clouds': {'all': 0},
  'cod': 200,
  'coord': {'lat': 48.85, 'lon': 2.35},
  'dt': 1508270400,
  'id': 2988507,
  'main': {'humidity': 82,
   'pressure': 1015,
   'temp': 16.28,
   'temp_max': 18,
   'temp_min': 15},
  'name': 'Paris',
  'sys': {'country': 'FR',
   'id': 5617,
   'message': 0.004,
   'sunrise': 1508220924,
   'sunset': 1508259316,
   'type': 1},
  'visibility': 10000,
  'weather': [{'description': 'clear sky',
    'icon': '01n',
    'id': 800,
    'main': 'Clear'}],
  'wind': {'deg': 100, 'speed': 2.1}},
 {'base': 'stations',
  'clouds': {'all': 92},
  'cod': 200,
  'coord': {'lat': 51.51, 'lon': -0.13},
  'dt': 1508271600,
  'id': 2643743,
  'main': {'humidity': 76,
   'pressure': 1017,
   'temp': 10.6,
   'temp_max': 12,
   'temp_min': 10},
  'name': 'London',
  'sys': {'country': 'GB',
   'id': 5093,
   'message': 0.0061,
   'sunrise': 1508221772,
   'sunset': 1508259654,
   'type': 1},
  'visibility': 10000,
  'weather': [{'description': 'light rain',
    'icon': '10n',
    'id': 500,
    'main': 'Rain'}],
  'wind': {'speed': 1.5}},
 {'base': 'stations',
  'clouds': {'all': 75},
  'cod': 200,
  'coord': {'lat': 59.91, 'lon': 10.75},
  'dt': 1508269800,
  'id': 3143244,
  'main': {'humidity': 87,
   'pressure': 1002,
   'temp': 12,
   'temp_max': 12,
   'temp_min': 12},
  'name': 'Oslo',
  'sys': {'country': 'NO',
   'id': 5325,
   'message': 0.004,
   'sunrise': 1508220202,
   'sunset': 1508255987,
   'type': 1},
  'visibility': 10000,
  'weather': [{'description': 'light rain',
    'icon': '10n',
    'id': 500,
    'main': 'Rain'}],
  'wind': {'deg': 220, 'gust': 11.3, 'speed': 5.7}},
 {'base': 'stations',
  'clouds': {'all': 90},
  'cod': 200,
  'coord': {'lat': 39.91, 'lon': 116.4},
  'dt': 1508270400,
  'id': 1816670,
  'main': {'humidity': 93,
   'pressure': 1025,
   'temp': 13,
   'temp_max': 13,
   'temp_min': 13},
  'name': 'Beijing',
  'sys': {'country': 'CN',
   'id': 7405,
   'message': 0.0035,
   'sunrise': 1508192848,
   'sunset': 1508232667,
   'type': 1},
  'visibility': 3000,
  'weather': [{'description': 'light rain',
    'icon': '10n',
    'id': 500,
    'main': 'Rain'},
   {'description': 'mist', 'icon': '50n', 'id': 701, 'main': 'Mist'}],
  'wind': {'speed': 1}}]

In [7]:
# Extract interesting data from responses
lat_data = [data.get("coord").get("lat") for data in weather_data]
temp_data = [data.get("main").get("temp") for data in weather_data]

weather_data = {"temp": temp_data, "lat": lat_data}
weather_data = pd.DataFrame(weather_data)
weather_data.head()

     lat   temp
0  48.85  16.28
1  51.51  10.60
2  59.91  12.00
3  39.91  13.00

In [ ]:
# Build a scatter plot for each data type
plt.scatter(weather_data["lat"], weather_data["temp"], marker="o")

# Incorporate the other graph properties
plt.title("Temperature in World Cities")
plt.ylabel("Temperature (Celsius)")
plt.xlabel("Latitude")
plt.grid(True)

# Save the figure
plt.savefig("TemperatureInWorldCities.png")

# Show plot
plt.show()