In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey

In [2]:
types_df = pd.read_csv("ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [3]:
# set up additional columns to hold information
types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [4]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    results = response.get('results')
    
    # extract first result and use pd.set_value to insert into dataframe
    results = response.get('results')
    if (results):
        restr = response['results'][0]
        print(f"Closest {restr_type} restaurant is {restr.get('name', 'Unknown')}.")
        types_df.set_value(index, 'name', restr.get('name', ''))
        types_df.set_value(index, 'address', restr.get('vicinity', ''))
        types_df.set_value(index, 'price_level', restr.get('price_level', ''))
        types_df.set_value(index, 'rating', restr.get('rating', ''))
    else:
        print("No results for " + restr_type)
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is Chinese Fast Wok.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Alma de Cuba - Cuban Restaurant.
------------
Retrieving Results for Index 2: czech.
No results for czech
------------
Retrieving Results for Index 3: french.
Closest french restaurant is Liberté Lounge.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Brü Craft & Wurst.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is Zaffron Mediterranean Grill.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Chez Rosaire Haitian & West Indian Food.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is Wursthaus Schmitz.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Cafe Spice Express - Online Ordering, Restaurant & Catering.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is Banana Leaf: Malaysian Cuisine.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is Tir Na Nog.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is Goldie.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Davio's Northern Italian Steakhouse.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Shiroi Hana.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Abe Fisher.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is Giwa - Fresh Korean Kitchen.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is Boutros Greek & Middle Eastern.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is Taco Bell Suburban Station.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is Square 1682.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is Nanee's Kitchen.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is Franks A-lot.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Shish Kabob Palace.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Bar Hygge.
------------
Retrieving Results for Index 23: scottish.
Closest scottish restaurant is The Victoria Freehouse.
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Keven Parker's Soul Food Cafe.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is Lolita.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Xiandu Thai Fusion Cuisine.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is The Original Turkey.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is Suzani Palace.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is Vietnam Express.
------------

In [5]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,Chinese Fast Wok,"1500 John F Kennedy Blvd, Philadelphia",2,1.3
1,cuban,Alma de Cuba - Cuban Restaurant,"1623 Walnut St, Philadelphia",3,4.4
2,czech,,,,
3,french,Liberté Lounge,"5115, 120 S 17th St, Philadelphia",2,4
4,german,Brü Craft & Wurst,"1316 Chestnut St, Philadelphia",4,4
5,greek,Zaffron Mediterranean Grill,"1625 Chestnut St, Philadelphia",2,3.8
6,haitian,Chez Rosaire Haitian & West Indian Food,"121 W Tabor Rd, Philadelphia",,4.5
7,hungarian,Wursthaus Schmitz,"51 N 12th St, Philadelphia",,3.7
8,indian,"Cafe Spice Express - Online Ordering, Restaura...","1700 Market St, Philadelphia",,3
9,indonesian,Banana Leaf: Malaysian Cuisine,"1009 Arch St, Philadelphia",2,4.1
10,irish,Tir Na Nog,"1600 Arch St, Philadelphia",2,4
11,israeli,Goldie,"1526 Sansom St, Philadelphia",1,4.6
12,italian,Davio's Northern Italian Steakhouse,"111 S 17th St, Philadelphia",3,4.5
13,japanese,Shiroi Hana,"222 S 15th St, Philadelphia",,4.2
14,jewish,Abe Fisher,"1623 Sansom St, Philadelphia",3,4.7
15,korean,Giwa - Fresh Korean Kitchen,"1722 Sansom St, Philadelphia",2,4.5
16,lebanese,Boutros Greek & Middle Eastern,"200 S Broad St, Philadelphia",1,
17,mexican,Taco Bell Suburban Station,"1500 John F Kennedy Blvd, Philadelphia",1,3.6
18,new american,Square 1682,"121 S 17th St, Philadelphia",3,3.8
19,pakistani,Nanee's Kitchen,"51 N 12th St, Philadelphia",,3.2
20,polish,Franks A-lot,"51 N 12th St, Philadelphia",,2.3
21,russian,Shish Kabob Palace,"1683 Grant Ave, Philadelphia",,4.3
22,scandinavian,Bar Hygge,"1720 Fairmount Ave, Philadelphia",2,4.6
23,scottish,The Victoria Freehouse,"10 S Front St, Philadelphia",,4.5
24,soul food,Keven Parker's Soul Food Cafe,"N 12th St & Arch St, Philadelphia",,3.9
25,spanish,Lolita,"106 S 13th St, Philadelphia",2,4.2
26,thai,Xiandu Thai Fusion Cuisine,"1119 Walnut St, Philadelphia",2,4.6
27,turkish,The Original Turkey,"45 N 12th St, Philadelphia",1,4
28,ukrainian,Suzani Palace,"842 Red Lion Rd, Philadelphia",,3.8
29,vietnamese,Vietnam Express,"106 S 20th St, Philadelphia",,4.6