In [1]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

# import api_key from config file
from config import api_key

In [2]:
# Create a settings object with your API key and preferred units
settings = {"units": "metric", "appid": api_key}

In [3]:
# Get data for each city in cities.csv
weather_data = []
with open("../Resources/cities.csv") as cities:
    cities = csv.reader(cities)
    cities = [city[0] for city in cities]
    weather_data = [ow.get_current(city, **settings) for city in cities]

In [4]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]

# Create a Pandas DataFrame with the results
data = [response(*summary) for response in weather_data]

weather_data = pd.DataFrame(data, index=cities)
weather_data

                 0      1       2
Paris         1.14  48.86    2.35
London        4.00  51.51   -0.13
Oslo         -2.00  59.91   10.74
Beijing      -4.00  39.91  116.39
Moscow       -3.28  46.73 -117.00
Vladivostok -18.00  43.12  131.89
Osaka         3.95  34.70  135.50
Honolulu     24.74  21.30 -157.86
Montevideo   -7.21  44.94  -95.72
Erbil        11.00  36.19   44.01

In [5]:
# BONUS:
column_names = ["Temperature", "Latitude", "Longitude"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

             Temperature  Latitude  Longitude
Paris               1.14     48.86       2.35
London              4.00     51.51      -0.13
Oslo               -2.00     59.91      10.74
Beijing            -4.00     39.91     116.39
Moscow             -3.28     46.73    -117.00
Vladivostok       -18.00     43.12     131.89
Osaka               3.95     34.70     135.50
Honolulu           24.74     21.30    -157.86
Montevideo         -7.21     44.94     -95.72
Erbil              11.00     36.19      44.01