In [6]:
import sqlite3
import pandas as pd

In [10]:
cnx = sqlite3.connect('species.db')
cnx

In [11]:
df = pd.read_sql_query("SELECT * FROM species_threatened", cnx)

DatabaseError: Execution failed on sql 'SELECT * FROM species_threatened': no such table: species_threatened