In [18]:
import pandas as pd
import csv
import os
import mysql.connector
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'mysql'

In [19]:
df = pd.read_csv("resources/threatened_species.csv", encoding="ISO-8859-1")
df.head()

,Countries,Mammals,Birds,Fishes,Higher plants,Total,Coordinates,Terrestrial protected areas(% of total land area )
0,Afghanistan,11,17,5,5,38,"33.7680065,66.2385139",0.5
1,Albania,3,9,44,0,56,"11.24488255,-72.5160988093715",2.3
2,Algeria,14,14,40,18,86,"28.0000272,2.9999825",7.9
3,American Samoa,1,8,12,1,22,"-14.30063095,-170.695974791655",12.6
4,Andorra,2,2,0,0,4,"42.5407167,1.5732033",19.5

In [ ]:
df.to_sql