In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests as req
import json

# Import API key
from config import gkey

In [2]:
# Import cities file into the cities_pd DataFrame
cities_pd = pd.read_csv('Cities.csv')
cities_pd = pd.DataFrame(cities_pd)
cities_pd.head()

           City         State
0      New York      New York
1   Los Angeles    California
2       Chicago      Illinois
3       Houston         Texas
4  Philadelphia  Pennsylvania

In [3]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_pd['lat'] = pd.Series("", index=cities_pd.index)
cities_pd['lng'] = pd.Series("", index=cities_pd.index)
cities_pd['airport_name'] = pd.Series("", index=cities_pd.index)
cities_pd['airport_address'] = pd.Series("", index=cities_pd.index)
cities_pd['rating'] = pd.Series("", index=cities_pd.index)
cities_pd.head()

           City         State lat lng airport_name airport_address rating
0      New York      New York
1   Los Angeles    California
2       Chicago      Illinois
3       Houston         Texas
4  Philadelphia  Pennsylvania

In [5]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.set_value()`
url = "https://maps.googleapis.com/maps/api/geocode/json"
for index, row in cities_pd.iterrows():
    target_city = row[0]
    parameters = {'address': target_city, 'key' : gkey}
    geo_data = req.get(url, params=parameters).json()
    cities_pd.loc[index, 'lat'] = geo_data['results'][0]['geometry']['location']['lat']
    cities_pd.loc[index, 'lng'] = geo_data['results'][0]['geometry']['location']['lng']

cities_pd.head()

,City,State,lat,lng,airport_name,airport_address,rating
0,New York,New York,40.7128,-74.006,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,

In [6]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings
target_search = "international+airport"
target_type = "airport"
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in cities_pd.iterrows():
    target_coordinates = str(row[2])+", "+str(row[3])
    params = {
    "location": target_coordinates,
    "keyword": target_search,
    "type": target_type,
    "key": gkey
    }
    airport = req.get(url, params=params).json()
    cities_pd.loc[index, 'airport_name'] = airport['results']['name']


cities_pd.head()

TypeError: list indices must be integers or slices, not str

[]

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears